<h1>Projects controller, index action</h1>

<p>Edit this file in <tt>app/views/projects/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%= link_to 'Show', url(:project, project) %></td>
    <td><%= link_to 'Edit', url(:edit_project,  project) %></td>
    <td><%= delete_button :project, project %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_project) %>
