<h1>Projects controller, new action</h1>

<p>Edit this file in <tt>app/views/projects/new.html.erb</tt></p>

<%= error_messages_for :project %>

<% form_for(@project, :action => url(:projects) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:projects) %>
