<h1>Projects controller, show action</h1>

<p>Edit this file in <tt>app/views/projects/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_project,  @project) %> |
<%= link_to 'Back', url(:projects) %>
